<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Login Page{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>

<body>
    <section class="min-h-screen flex items-stretch text-white ">
        <div class="lg:flex w-1/2 hidden bg-gray-500 bg-no-repeat bg-cover relative items-center" style="background-image: url(https://images.unsplash.com/photo-1577495508048-b635879837f1?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=675&q=80);">
            <div class="absolute bg-black opacity-60 inset-0 z-0"></div>
            <div class="w-full px-24 z-10">
                <h1 class="text-5xl font-bold text-left tracking-wide">PORTAIL PHOTOS</h1>
                <p class="text-3xl my-4">Mon site de gestion de photos et d'albums</p>
            </div>
        </div>
        <div class="lg:w-1/2 w-full flex items-center justify-center text-center md:px-16 px-0 z-0" style="background-color: #161616;">
            <div class="absolute lg:hidden z-10 inset-0 bg-no-repeat bg-cover items-center" style="background-image: url(https://images.unsplash.com/photo-1577495508048-b635879837f1?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=675&q=80);">
                <div class="absolute bg-black opacity-60 inset-0 z-0"></div>
            </div>

            <div class="w-full py-6 z-20">
                {% if app.user %}
                    <div class="mb-6 text-xl">
                        {{ app.user.prenom }}, tu es toujours connecté (e) !
                    </div>
                    <div class="grid grid-cols-3 gap-4">
                        <div class="col-span-1"><a href="{{ path('logout') }}"><button class="btn btn-lg btn-primary uppercase block w-full p-2  rounded-full bg-red-900 hover:bg-red-700 focus:outline-none">Déconnexion</button></a></div>
                        <div class="col-span-2"><a href="{{  path('home') }}"><button class="btn btn-lg btn-primary uppercase block w-full p-2 rounded-full bg-blue-900 hover:bg-blue-700 focus:outline-none">Page d'accueil</button></a></div>
                    </div>
                {% else %}
                    <p class="my-6">FORMULAIRE DE CONNEXION</p>

                    <form method="post" class="sm:w-2/3 w-full px-4 lg:px-0 mx-auto">
                        <div class="pb-2 pt-4">
                            <input type="text" value="{{ last_username }}" placeholder="Pseudo" name="username"  class="form-control block w-full p-4 text-lg rounded-sm bg-black" autocomplete="username" required autofocus>

                        </div>

                        <div class="pb-2 pt-4">
                            <input type="password" name="password" placeholder="Mot de passe" class="form-control block w-full p-4 text-lg rounded-sm bg-black" autocomplete="current-password" required>
                        </div>

                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                        {#  <div class="checkbox mb-3">
                            <label><input type="checkbox" name="_remember_me"> Se souvenir de moi</label>
                        </div>#}

                        {% if error %}
                            <div class="alert alert-danger my-2 text-red-800">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        <div class="px-4 pb-2 pt-4">
                            <button class="btn btn-lg btn-primary uppercase block w-full p-4 text-lg rounded-full bg-blue-900 hover:bg-blue-700 focus:outline-none" type="submit">VALIDER</button>
                        </div>
                    </form>
                    <p>Pas inscrit ? <a href="{{ path('sigin') }}" class="underline hover:text-blue-500 font-bold transform transition duration-500">Créer un compte</a></p>
                {% endif %}
            </div>
        </div>
    </section>
</body>
