<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Login Page{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>

<body>
    <section class="min-h-screen flex items-stretch text-white ">
        <div class="lg:flex w-1/2 hidden bg-gray-500 bg-no-repeat bg-cover relative items-center" style="background-image: url(https://images.unsplash.com/photo-1577495508048-b635879837f1?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=675&q=80);">
            <div class="absolute bg-black opacity-60 inset-0 z-0"></div>
            <div class="w-full px-24 z-10">
                <h1 class="text-5xl font-bold text-left tracking-wide">PORTAIL PHOTOS</h1>
                <p class="text-3xl my-4">Mon site de gestion de photos et d'albums</p>
            </div>
        </div>
        <div class="lg:w-1/2 w-full flex items-center justify-center text-center md:px-16 px-0 z-0" style="background-color: #161616;">
            <div class="absolute lg:hidden z-10 inset-0 bg-no-repeat bg-cover items-center" style="background-image: url(https://images.unsplash.com/photo-1577495508048-b635879837f1?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=675&q=80);">
                <div class="absolute bg-black opacity-60 inset-0 z-0"></div>
            </div>

            <div class="w-full py-6 z-20">
                <p class="my-6">FORMULAIRE D'INSCRIPTION</p>

                {% for message in app.flashes('supp') %}
                    <div class="bg-red-300 text-white text-center italic text-sm w-1/2 rounded-full py-1 my-4 mx-auto">
                        {{ message }}
                    </div>
                {% endfor %}

                <div class="sm:w-2/3 w-full px-4 lg:px-0 mx-auto">
                    {{ form_start(form) }}
                    <div class="my-custom-class-for-errors">{{ form_errors(form) }}</div>

                    <div class="grid grid-cols-2 gap-2 pb-2 pt-4">
                        {{ form_row(form.prenom) }}
                        {{ form_errors(form.prenom) }}

                        {{ form_row(form.nom) }}
                        {{ form_errors(form.nom) }}
                    </div>
                    <div class="pb-2 pt-4">{{ form_row(form.username) }}</div>
                    <div class="pb-2 pt-4">{{ form_errors(form.username) }}</div>

                    <div class="pb-2 pt-4">{{ form_row(form.mail) }}</div>
                    <div class="pb-2 pt-4">{{ form_errors(form.mail) }}</div>

                    <div class="pb-2 pt-4">{{ form_row(form.password) }}</div>
                    <div class="pb-2 pt-4">{{ form_errors(form.password) }}</div>

                    <input id="password2" type="password" class="pb-2 pt-4 form-control block w-full p-4 text-lg rounded-sm bg-black" placeholder="Confirmer le mot de passe">

                    <div class="pt-4 flex justify-center">{{ form_row(form.captcha) }}</div>
                    <div class="pt-4 flex text-red-500 justify-center">{{ form_errors(form.captcha) }}</div>

                    <div class="px-4 pb-2 pt-4">
                        <button id="validPwdBtn" class="btn btn-lg btn-primary uppercase block w-full p-4 text-lg rounded-full bg-blue-900 hover:bg-blue-700 focus:outline-none">S'INSCRIRE</button>
                    </div>

                    {{ form_end(form) }}

                </div>
                <p>Déjà inscrit ? <a href="{{ path('login') }}" class="underline hover:text-blue-500 font-bold transform transition duration-500">Se connecter</a></p>
            </div>
        </div>
    </section>


<script>
    /*tester les mots de passe identiques */
    pass1 = document.getElementById("user_password");
    pass2 = document.getElementById("password2");
    validPwdBtn = document.getElementById("validPwdBtn");
    validPwdBtn.addEventListener("click", (e)=>{
    if(!(pass1.value === pass2.value)){
        alert("les mots de passe ne sont pas identiques !")
        e.preventDefault();}
    })
</script>
</body>
