{% extends 'base.html.twig' %}

{% block title %}Ajouter une photo{% endblock %}

{% block body %}

    <div class="fixed right-1 top-24 pt- pr-6">
        <a href="{{ path('home') }}" title="fermer" class="px-3 py-2 text-xs rounded-lg text-gray-300 text-gray-300 bg-red-700 hover:bg-red-500 hover:text-white transform transition duration-500">FERMER</a>
    </div>

    <div class="">
        <div class="rounded-lg bg-gradient-to-b from-gray-700 to-gray-500 p-8 mx-60 shadow-lg h-auto">

        {% for message in app.flashes('succes') %}
            <div class="bg-green-500 text-gray-900 text-center italic text-sm w-full rounded-full my-6 py-1">
                {{ message }}
            </div>
        {% endfor %}


                <p class="lg:text-4xl text-xl text-white text-center mb-5">Ajouter une nouvelle photo</p>


            <section class="mt-6">

                {{ form_start(imageForm) }}
                    <p class="text-gray-100 text-xl text-center mb-2">Charger une image <span class="text-sm italic">(Maximum 2Mo)</span></p>
                    {{ form_row(imageForm.fileName) }}
                    {% if  showCurrentPhotoTwig == false %}
                        <button class="flex m-auto mt-6 px-3 py-2 text-sm lg:text-base rounded-lg text-gray-300 bg-blue-700 hover:bg-blue-500 hover:text-white transform transition duration-500">
                            Sélectionner
                        </button>
                    {% endif %}
                {{ form_end(imageForm) }}


                {% if  showCurrentPhotoTwig == true %}
                    <div class="flex justify-center m-auto my-6 w-1/5 border border-1 border-blue-700 shadow-lg">
                        {% if uploadImagesDestination is same as('local') %}
                            <img class="#" src='{{ asset('uploads/'~currentImageFileName) }}' alt="current-photo" />
                        {% else %}
                            <img class="#" src='{{ urlCloudinary~currentImageFileName }}' alt="current-photo" />
                        {% endif %}

                    </div>
                {% endif %}
            </section>

            <section class="text-gray-100 text-center text-xl mt-10 pb-6">
                {% include 'home/addAlbum.html.twig' %}

                {% if  showCurrentPhotoTwig == true %}
                    {{ form_start(photoForm) }}

                    <div class="m-auto w-1/3 my-10">
                        <p class="mb-3">Sélectionner un album existant</p>
                        {{ form_row(photoForm.album) }}
                    </div>

                    <p class="mb-5 italic text-sm text-red-700">Pas dans la liste ?</p>

                    <div class="modal-open text-sm">
                        <a href="#" class="px-2 py-2 rounded-lg border border-1 border-gray-900 text-gray-800 bg-transparent hover:bg-blue-500 hover:text-white transform transition duration-500">
                            Créer un nouvel Album
                        </a>
                    </div>

                    <div class="flex mt-5">
                        <div class="w-4/5">
                            <p class="mb-3">Son année</p>
                            {{ form_row(photoForm.annee) }}
                        </div>
                        <div class="w-4/5">
                            <p class="mb-3">Son lieu</p>
                            {{ form_row(photoForm.lieu) }}
                        </div>
                    </div>
                    <button class="flex mt-10 m-auto px-3 py-2 text-sm lg:text-base rounded-lg text-gray-300 bg-blue-700 hover:bg-blue-500 hover:text-white transform transition duration-500">
                        Ajouter la Photo
                    </button>
                    {{ form_end(photoForm) }}
                {% endif %}
            </section>
        </div>
    </div>

{% endblock %}


