{% extends 'base.html.twig' %}

{% block title %}Ajouter une photo{% endblock %}

{% block body %}

    <div class="bg-gray-800 pt-6">
        <div class="rounded-lg bg-gradient-to-b from-gray-700 to-gray-500 p-8 mx-60 shadow-lg h-screen">

            <section class="rounded-full py-4 bg-blue-900 font-bold text-center text-gray-400 px-8">
                Ajouter une nouvelle photo
            </section>

            <section>
                {{ form_start(photoForm) }}
                <div>{{ form_row(photoForm.album) }}</div>
                <div>{{ form_row(photoForm.year) }}</div>
                <button class="px-3 py-2 text-sm rounded-lg text-gray-300 bg-blue-900 hover:bg-blue-700">
                    Ajouter Photo
                </button>
                {{ form_end(photoForm) }}
            </section>

            <section>
                <div>Un commentaire</div>
                <div>
                    {%  include 'home/section/addComment.html.twig' %}
                </div>
            </section>

        {#  {% if visibleTagSectionBtn == true %} #}
                <section>
                    <div>Identifier des personnes sur la photo</div>
                    <div>
                        {%  include 'home/section/addTag.html.twig' %}
                    </div>
                </section>
       {#      {% endif %} #}

            <a href="{{ path('add_photo') }}">
                <button class="px-3 py-2 text-sm rounded-lg text-gray-300 bg-blue-900 hover:bg-blue-700">
                    Ajouter une autre photo
                </button>
            </a>
            <a href="{{ path('home') }}">
                <button class="px-3 py-2 text-sm rounded-lg text-gray-300 bg-red-900 hover:bg-red-700">
                    Retour Page d'accueiL
                </button>
            </a>
        </div>
    </div>
{% endblock %}


