{% extends 'base.html.twig' %}

{% block title %}Ajouter une photo{% endblock %}

{% block body %}

    <div class="bg-gray-800 pt-6">
        <div class="rounded-lg bg-gradient-to-b from-gray-700 to-gray-500 p-8 mx-60 shadow-lg h-screen">

            <section class="rounded-full py-4 bg-blue-900 font-bold text-center text-gray-400 px-8">
                Ajouter une nouvelle photo
            </section>

            <section>
                <p class="text-right hover:text-red-500">L'album n'est pas dans la liste ? <a href="#" class="underline hover:text-white modal-open">Créez-en un nouveau</a></p>
                {% include 'modal/addAlbum.html.twig' %}

                {{ form_start(photoForm) }}

                <div>{{ form_row(photoForm.album) }}</div>
                <div>{{ form_row(photoForm.file) }}</div>
                {% if  showCurrentPhotoTwig == true %}
                    <div>
                        <img class="#" src='{{ asset('uploads/'~currentPhotoFile) }}' alt="current-photo" />
                    </div>
                {% endif %}
                <div>{{ form_row(photoForm.year) }}</div>
                <div>{{ form_row(photoForm.commentaire) }}</div>
                {% if  showCurrentPhotoTwig == false %}
                    <button class="px-3 py-2 text-sm rounded-lg text-gray-300 bg-blue-900 hover:bg-blue-700">
                        Ajouter la Photo
                    </button>
                {% endif %}
                {{ form_end(photoForm) }}
            </section>

            {% if  showCurrentPhotoTwig == true %}
                <section class="flex">
                    <div>
                        <a href="{{ path('add_tag') }}">
                            <button class="px-3 py-2 text-sm rounded-lg text-gray-300 bg-green-900 hover:bg-green-700">
                                Identifier des personnes
                            </button>
                        </a>
                    </div>
                    <div>
                        <a href="{{ path('add_photo') }}">
                            <button class="px-3 py-2 text-sm rounded-lg text-gray-300 bg-blue-900 hover:bg-blue-700">
                                Ajouter une autre photo
                            </button>
                        </a>
                    </div>
                </section>
            {% endif %}

            <a href="{{ path('home') }}">
                <button class="px-3 py-2 text-sm rounded-lg text-gray-300 bg-red-900 hover:bg-red-700">
                    Retour Page d'accueiL
                </button>
            </a>
        </div>
    </div>

{% endblock %}


