{% extends 'base.html.twig' %}

{% block title %}Ajouter des personnes{% endblock %}

{% block body %}

    <div class="pt-6">
        <div class="rounded-lg bg-gradient-to-b from-gray-700 to-gray-500 p-8 mx-60 shadow-lg h-auto">
            <section class="flex justify-between px-20">
                <div>
                    <a href="{{ path('add_photo') }}">
                        <button class="px-3 py-4 text-sm rounded-lg text-gray-300 bg-blue-900 hover:bg-blue-700 w-full">
                            Ajouter une autre photo
                        </button>
                    </a>
                </div>

                <div>
                    <a href="{{ path('add_comment') }}">
                        <button class="px-3 py-4 text-sm rounded-lg text-gray-300 bg-green-900 hover:bg-green-700 w-full">
                            Ajouter un commentaire
                        </button>
                    </a>
                </div>

                <div>
                    <a href="{{ path('home') }}">
                        <button class="px-3 py-4 text-sm rounded-lg text-gray-300 bg-red-900 hover:bg-red-700">
                            Retour Page d'accueil
                        </button>
                    </a>
                </div>
            </section>

            <div class="w-4/5 bg-gray-900 rounded-full m-auto my-10 h-1"></div>

            <section class="text-2xl border border-1 border-gray-300 rounded-full py-2 font-bold text-center text-gray-100 my-10">
                Identifer des personnes
            </section>

            <section class="formTag">
                {{ form_start(tagForm) }}
                <p class="text-gray-300 text-lg text-center mt-4 mb-2">Nom (optionnel)</p>
                {{ form_row(tagForm.nom) }}
                <p class="text-gray-300 text-lg text-center mt-4 mb-2">Prénom<span class="text-red-900 font-bold"> *</span></p>
                {{ form_row(tagForm.prenom) }}
                <button id="displayTagListBtn" class="flex mt-6 m-auto px-3 py-2 text-sm rounded-lg text-gray-300 bg-blue-900 hover:bg-blue-700">
                    Ajouter
                </button>
                {{ form_end(tagForm) }}
                {% if taggedPersonns %}
                    {% include 'modal/displayTagg.html.twig' with {'taggedPersonns':taggedPersonns} only %}
                {% endif %}
            </section>
        </div>
    </div>

{% endblock %}
