{% extends 'base.html.twig' %}

{% block title %}Ajouter des personnes{% endblock %}

{% block body %}

    <div class="bg-gray-800 pt-6">
        <div class="rounded-lg bg-gradient-to-b from-gray-700 to-gray-500 p-8 mx-60 shadow-lg h-screen">
            <section class="flex justify-between mb-10 px-20">
                <div class="">
                    <a href="{{ path('add_photo') }}">
                        <button class="px-3 py-4 text-sm rounded-lg text-gray-300 bg-blue-900 hover:bg-blue-700 w-full">
                            Ajouter une autre photo
                        </button>
                    </a>
                </div>
                <div class="">
                    <a href="{{ path('home') }}">
                        <button class="px-3 py-4 text-sm rounded-lg text-gray-300 bg-red-900 hover:bg-red-700">
                            Retour Page d'accueil
                        </button>
                    </a>
                </div>
            </section>
            <section class="rounded-full py-4 bg-green-900 font-bold text-center text-gray-400 px-8">
                Identifer des personnes
            </section>

            <section class="formTag">
                {{ form_start(tagForm) }}
                <p class="text-gray-100 text-xl font-bold text-center mt-4 mb-2">Nom</p>
                {{ form_row(tagForm.nom) }}
                <p class="text-gray-100 text-xl font-bold text-center mt-4 mb-2">Prénom</p>
                {{ form_row(tagForm.prenom) }}
                <button id="displayTagListBtn" class="flex mt-6 m-auto px-3 py-2 text-sm rounded-lg text-gray-300 bg-blue-900 hover:bg-blue-700">
                    Ajouter
                </button>
                {{ form_end(tagForm) }}
                {% if taggedPersonns %}
                    {% include 'modal/displayTagg.html.twig' with {'taggedPersonns':taggedPersonns} only %}
                {% endif %}
            </section>
        </div>
    </div>

{% endblock %}
