{% extends 'base.html.twig' %}

{% block title %}Page d'Accueil{% endblock %}

{% block body %}

    <div id="home" class="grid grid-cols-6 h-full md:flex-row p-2">

        <aside class="col-span-1 border-r border-gray-600  shadow-lg bg-customColorMainBG">
            {% include 'component/aside-search.html.twig'%}
        </aside>

        <div class="col-span-5 main-content flex-1 mt-12 md:mt-2">

        {%  include 'component/inputAddPhoto.html.twig' %}

        <section class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-4 py-12">
            <div class="pb-12">
                <p class="text-base text-2xl text-white">Dernières Photos publiées</p>
            </div>

            {% for message in app.flashes('supp') %}
                <div class="bg-red-300 text-white text-center italic text-sm w-1/2 rounded-full py-1 my-4 mx-auto">
                    {{ message }}
                </div>
            {% endfor %}
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-4 gap-8">
                {% for photo in photoList %}
                    <div class="h-80 w-full bg-gradient-to-b from-gray-600 to-gray-400 rounded-lg shadow-lg justify-center p-2 flex flex-col">
                        <div class="h-3/6 mb-4">
                            {% set equi = '' %}
                            {% set equi = photo.file %}
                              <a href= "{{ path('detailsPhoto', {idPhoto:photo.id, titleAlbum:photo.album.titre, status: 1, count:0} ) }}" >

                                  {% if uploadImagesDestination is same as('local') %}
                                     <img class="border border-1 border-blue-700 shadow-lg rounded-lg object-center object-cover h-full w-full" src='{{ asset('uploads/'~equi) }}' alt="photo">
                                  {% else %}
                                   <img class="border border-1 border-blue-700 shadow-lg rounded-lg object-center object-cover h-full w-full" src='{{ urlCloudinary~equi }}' alt="photo">
                                  {% endif %}

                              </a>
                        </div>
                        <div class="h-2/6 text-center mb-4">
                            <p class="text-base text-gray-800 font-normal italic">Posté le {{ photo.createAt | format_datetime('short', 'none', locale='en', pattern='dd/MM/yyyy')   }}</p>
                            <p class="text-base text-gray-800 font-normal">Par {{ photo.auteur.username }}</p>
                            <p class="text-base text-gray-800 font-normal">
                                <a href= "{{ path('displayOneAlbumAntiChrono', {idAlbum:photo.album.id, titleAlbum:photo.album.titre} )  }}" >
                                    <span class="hover:text-blue-600 font-bold">{{ photo.album.titre }}</span>
                                </a>
                            </p>
                        </div>
                        {% if is_granted('ROLE_ADMIN') %}
                            <div class="ml-auto h-1/6">
                                <a href="{{ path('deletePhotoFromHome', {idPhoto:photo.id}) }}" title="supprimer" onclick="return confirm('Confirmer la suppression de cette photo ?')" class="px-2 py-1 text-xs rounded-full text-gray-300 bg-red-400 hover:bg-red-600 hover:scale-105 hover:text-white transform transition duration-500">
                                    X
                                </a>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </section>
        <section>
            {% include 'search/search.html.twig' with
                {'formSearchByTag':formSearchByTag, 'formSearchByYear':formSearchByYear,'formSearchByTheme':formSearchByTheme, 'formSearchPlace':formSearchPlace}
                only %}
        </section>
        </div>
    </div>

{% endblock %}
