{% extends 'base.html.twig' %}

{% block title %}Détails Photo{% endblock %}

{% block body %}

    <div class="flex justify-center mb-2 col-start-6 fixed top-6 right-16">
        <a href= "{{ path('displayOneAlbumAntiChrono', {idAlbum:currentAlbumId, titleAlbum:titleAlbum})  }}" >
            <button class="px-5 py-2 text-md rounded-full text-gray-300 bg-red-900 hover:bg-red-700">
                X
            </button>
        </a>
    </div>

    <section class="h-full grid grid-cols-12 -mt-12">
        <div class=" flex flex-col col-start-1 col-span-8 gap-4 justify-between p-4 m-4 bg-black border border-1 border-gray-600 shadow-lg rounded-lg">
            <div class="flex justify-between items-center">
                <a href= "{{ path('detailsPhoto', {idPhoto:idPhoto, titleAlbum:titleAlbum, status:0, count : count-1} ) }}" >
                    <div class=" px-3 py-10 text-xl rounded-full text-gray-300 bg-blue-900 hover:bg-blue-700 shadow-md">
                        <i class="fas fa-chevron-left"></i>
                    </div>
                </a>
                <div class="px-36">
                    {% set equi = '' %}
                    {% set equi = selectedPhoto.file %}
                    {% if uploadImagesDestination is same as('local') %}
                        <img class="m-auto border border-1 border-blue-700 shadow-lg rounded-lg max-h-full" src='{{ asset('uploads/'~equi) }}' alt="photo gros plan">
                    {% else %}
                        <img class="m-auto border border-1 border-blue-700 shadow-lg rounded-lg max-h-full" src='{{ urlCloudinary~equi }}' alt="photo gros plan">
                    {% endif %}

                </div>
                <a href= "{{ path('detailsPhoto', {idPhoto:idPhoto, titleAlbum:titleAlbum, status:0, count : count+1} ) }}" >
                    <div class=" px-3 py-10 text-xl rounded-full text-gray-300 bg-blue-900 hover:bg-blue-700 shadow-md">
                        <i class="fas fa-chevron-right"></i>
                    </div>
                </a>
            </div>

            <div class="text-center text-base text-gray-600 font-normal pt-2 pb-6">
                <p class=" mb-1">
                    - Posté le {{ selectedPhoto.createAt | format_datetime('short','none', pattern=" dd/M/YYYY", locale='en') }}, par {{ selectedPhoto.auteur.username }} -
                </p>
                <p>
                    - Album : {{ selectedPhoto.album.titre }} | Thématique : {{ selectedPhoto.album.theme.titre }} -
                </p>
            </div>
        </div>

        <div class="text-base text-gray-600 flex flex-col col-start-9 col-span-3 p-2 ml-1 -mr-4 my-10">

            <div class="bg-black border border-1 border-gray-600 shadow-lg rounded-lg p-1 mb-4">
                <div>
                    <p class="text-left">Localisation</p>
                    {% if selectedPhoto.lieu %}
                        <div class="text-center text-lg text-gray-400">{{ selectedPhoto.lieu}}</div>
                    {% else %}
                        <p class="italic text-center text-gray-400"> "Non renseigné ..."</p>
                    {% endif %}

                </div>
                <div class="flex justify-end px-4 pb-4">
                    <a href="{{ path('add_place', {titleAlbum: titleAlbum, photoId:selectedPhoto.id,status:1, count:0 }) }}">
                        <i class="fas fa-plus-circle text-2xl text-green-900 hover:text-green-700"></i>
                    </a>
                </div>
            </div>

            <div class="bg-black border border-1 border-gray-600 shadow-lg rounded-lg p-4 mb-4">
                <div>
                    {% set showPersonne = true %}
                    {% if lienTagPhotoList %}
                        <p class="text-left mb-2">Sur la photo</p>
                        {% for lien in lienTagPhotoList %}
                            {% if lien.photo.id == selectedPhoto.id %}
                                {% for tag in tagList %}
                                    {% if  lien.tag.id == tag.id %}
                                        {% set showPersonne = false %}
                                        <div class="text-center text-xl text-gray-400">- {{ lien.tag.prenom }}  {{ lien.tag.nom }} -</div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    {% if showPersonne is same as(true) %}
                        <p class="italic text-center text-gray-400">"Personne identifié ..."</p>
                    {% endif %}
                </div>
                <div class="flex justify-end mt-4">
                    <a href="{{ path('add_new_tag', {titleAlbum: titleAlbum, photoId:selectedPhoto.id,status:1, count:0 }) }}">
                        <i class="fas fa-plus-circle text-2xl text-green-900 hover:text-green-700"></i>
                    </a>
                </div>
            </div>

            <div class="bg-black border border-1 border-gray-600 shadow-lg rounded-lg p-4">
                <div>
                    {% set showComm = true %}
                    {% if commentaireList %}
                        <p class="text-left mb-4">A propos</p>
                        {% for comm in commentaireList %}
                            {% set showComm = false %}
                            {%  if comm.id is even %}
                                <div class="flex justify-start">
                                {% else %}
                                    <div class="flex justify-end">
                                {% endif %}
                                    <div class="bg-gray-400 w-2/3 text-gray-800 text-sm rounded-xl my-2 p-2">
                                        <p class="font-bold">" {{ comm.texte }} "</p>
                                        <p class="text-xs text-right italic">Par {{ comm.auteurId.username }} - {{ comm.createdAt | format_datetime('short','none', pattern=" dd/M/YYYY", locale='en') }} </p>
                                    </div>
                                </div>
                        {% endfor %}
                    {% endif %}
                        {% if showComm is same as(true) %}
                            <p class="italic text-center text-gray-400"> "Aucun commentaire ..."</p>
                        {% endif %}
                    </div>
                    <div class="flex justify-end mt-4">
                        <a href="{{ path('add_new_comment', {titleAlbum: titleAlbum, photoId:selectedPhoto.id,status:1, count:0 }) }}">
                            <i class="fas fa-plus-circle text-2xl text-green-900 hover:text-green-700"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
