{% extends 'base.html.twig' %}

{% block title %}Détails Photo{% endblock %}

{% block body %}



    <section class="grid grid-cols-6">
        <div class="flex justify-center mt-6 mb-2 col-start-6 fixed top-12 right-36">
            <a href= "{{ path('displayOneAlbumAntiChrono', {idAlbum:currentAlbumId, titleAlbum:titleAlbum})  }}" >
                <button class="px-5 py-2 text-md rounded-lg text-gray-300 bg-red-900 hover:bg-red-700">
                    X
                </button>
            </a>
        </div>

        <div class="text-center pb-12 col-start-2 col-span-4 mt-6">
            <p class="text-base text-2xl font-bold text-blue-600">De l'album : {{ selectedPhoto.album.titre }}</p>
        </div>

        <div class="w-full col-start-2 col-span-4 py-2 px-2 bg-gradient-to-b from-gray-600 to-gray-400 rounded-lg shadow-lg overflow-hidden flex flex-col justify-center items-center">

            <div class="flex items-center">
                <a href= "{{ path('detailsPhoto', {idPhoto:idPhoto, titleAlbum:titleAlbum, status:0, count : count-1} ) }}" >
                    <div class="px-4 py-10 text-xl rounded-lg text-gray-300 bg-blue-900 hover:bg-blue-700 shadow-md">
                        <i class="fas fa-chevron-left"></i>
                    </div>
                </a>
                <div class="m-auto w-2/5">
                    {% set equi = '' %}
                    {% set equi = selectedPhoto.file %}
                    <img class="object-center object-cover border border-1 border-blue-700 shadow-lg rounded-lg m-auto w-4/5" src='{{ asset('uploads/'~equi) }}' alt="photo gros plan">
                </div>
                <a href= "{{ path('detailsPhoto', {idPhoto:idPhoto, titleAlbum:titleAlbum, status:0, count : count+1} ) }}" >
                    <div class="px-4 py-10 text-xl rounded-lg text-gray-300 bg-blue-900 hover:bg-blue-700 shadow-md">
                        <i class="fas fa-chevron-right"></i>
                    </div>
                </a>
            </div>
            <div class="text-center pt-2 pb-6">
                <p class="text-base text-gray-600 font-normal">
                    - Posté le {{ selectedPhoto.createAt | format_date(locale='fr', pattern=" dd MMMM YYYY")  }}, par {{ selectedPhoto.auteur.username }} -
                </p>
            </div>
            <div class="text-gray-700 w-full grid gap-6 grid-cols-2 px-4">
                <div class="flex justify-between border border-1 border-gray-600 shadow-lg rounded-lg p-2">
                    <div>
                        {% if selectedPhoto.commentaire == '' %}
                            <p class="text-base italic text-left font-bold"> "Aucun commentaire ..."</p>
                        {%  else %}
                            <p class="text-base text-left font-bold">Commentaire(s)</p>
                            <p class="text-xl italic"> " {{ selectedPhoto.commentaire }} "</p>
                        {% endif %}

                    </div>
                    <div>

                            <i class="fas fa-plus-circle text-2xl text-green-900 hover:text-green-700"></i>

                    </div>
                </div>

                <div class="flex justify-between border border-1 border-gray-600 shadow-lg rounded-lg p-2">
                    <div>
                        {% if lienTagPhotoList %}
                            <p class="text-base text-left font-bold">Identifié(s) :</p>
                            {% for lien in lienTagPhotoList %}
                                {% if lien.photo.id == selectedPhoto.id %}
                                    {% for tag in tagList %}
                                        {% if  lien.tag.id == tag.id %}
                                            <p class="text-left pl-32">- {{ lien.tag.prenom }}  {{ lien.tag.nom }}  </p>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <p class="text-xl italic text-center font-bold"> "Personne identifié ..."</p>
                        {% endif %}
                    </div>
                    <div>
                        <a href="{{ path('add_tag') }}">
                            <i class="fas fa-plus-circle text-2xl text-green-900 hover:text-green-700"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
