{% extends 'base.html.twig' %}

{% block title %}Single Album{% endblock %}

{% block body %}

    {%  include 'component/inputAddPhoto.html.twig' %}

    <section class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-4 py-12">
        <div class="text-center pb-12">
            <p class="text-base text-2xl font-bold text-blue-600">Tous les albums de la Thématique : {{ titreTheme | upper }}</p>
        </div>

        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-4 gap-8">
            {% for album in listAlbumsByTheme %}
                <div class="w-full h-full bg-gray-300 rounded-lg py-2 px-2 shadow-lg overflow-hidden flex flex-col justify-center items-center">
                    <div class="h-3/5">
                        <a href= "{{ path('displayOneAlbumAntiChrono', {idAlbum:album.id, titleAlbum:album.titre} )  }}" >
                            {% set equi = '' %}
                            {% for photo in photoList %}
                                {%  if photo.album.id == album.id %}
                                    {% set equi = photo.file %}
                                {% endif %}
                            {% endfor %}
                            {% if equi == '' %}
                                <img class="cursor-not-allowed object-center object-cover h-5/6 w-full" src='{{ asset('img/unexist.jpg') }}' alt="Pas de photo">
                            {% else %}
                                <img class="object-center object-cover h-5/6 w-full" src='{{ asset('uploads/'~equi) }}' alt="Photo de couverture">
                            {% endif %}
                        </a>
                    </div>
                    <div class="text-center py-8 sm:py-6 h-2/5">
                        <p class="text-3xl text-gray-800 font-bold mb-2">{{ album.titre | upper }}</p>
                        <p class="text-xl text-gray-800 mb-2">
                            <a href="{{ path('displaySingleYear', {albumAnnee:album.annee} ) }}" >
                                <span class="underline hover:text-blue-600">
                                    {{ album.annee }}
                                </span>
                            </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>

{% endblock %}
